
PokeTeam/src/main/resources/application.properties
PokeTeam/src/test/resources/application.properties
PokeTeam/src/main/resources/application.properties
PokeTeam/src/main/resources/application.properties
